<div class="main-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-title">
      <mat-card-title>Welcome to myFLix!</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-buttons">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        class="registration-btn"
      >
        <mat-icon>how_to_reg</mat-icon>
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        class="login-btn"
      >
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
