.movie-view {
  display: flex;
}

.movie-card{
  box-shadow: none;
}

.movie-title {
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

.movie-action {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.movie-button{
  color: #95A9E8;
}
