.edit-card {
  box-shadow: none;
}

.edit-title {
  margin-bottom: 5px;
  justify-content: center;
  display: flex;
}

.edit-action {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.edit-btn{
  background-color: #95A9E8;
}
