<app-navbar></app-navbar>

<div class="main-page">
  <h1>Movies</h1>

  <div class="movie-view">
    <mat-card *ngFor="let movie of movies; let i = index;" class="movie-cards">
      <mat-card-header class="movie-title">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} class="movie-img"/>
      <mat-card-actions class="movie-actions">
        <button
          mat-button
          (click)="openGenreViewComponent(movie.Genre.Name, movie.Genre.Description)"
        >
          Genre
        </button>
        <button
          mat-button
          (click)="openDirectorViewComponent(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
        >
          Director
        </button>
        <button
          mat-button
          (click)="openMovieViewComponent(movie.Title, movie.Description)"
        >
          Synopsis
        </button>
        <button
          mat-button
          *ngIf="!isFavorite(movie._id)"
          (click)="addFavoriteMovie(movie._id)"
          class="add-btn"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          mat-button
          *ngIf="isFavorite(movie._id)"
          (click)="removeFavoriteMovie(movie._id)"
          class="remove-btn"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
