<app-navbar></app-navbar>

<div class="profile-page">
  <mat-card class="profile-card">
    <mat-card-header class="profile-title">
      <mat-card-title>Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><b>Username:</b> {{user.Username}}</p>
      <p><b>Email:</b> {{user.Email}}</p>
      <p><b>Birthday:</b> {{user.Birthday | date}}</p>
    </mat-card-content>

    <mat-card-actions class="profile-actions">
      <button
        mat-raised-button
        (click)="openEditProfileComponent()"
        class="edit-button"
      >
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button
        mat-raised-button
        (click)="deleteUser()"
        class="delete-button"
      >
        <mat-icon>delete</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
